/**
 * @file
 * This file is used to style the 'Promoted Items' view.
 */

/* Constrain the whole block including title */
.block-views-blockpromoted-items-block-1 {
  max-width: var(--content-max-width, 1200px);
  margin-inline: auto;
  padding-inline: var(--content-margin-x, 1rem);
}

.view-promoted-items--single {
  display: grid;
  gap: 14px;
  padding-block: 1rem 2rem;
}
/* Small */
@media screen and (min-width: 30rem) {
  /* 480px */
  .view-promoted-items--single {
    padding-block: 2rem 3rem;
  }
}
/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */
  .view-promoted-items--single {
    grid-template-columns: repeat(2, 1fr);
  }
}
.view-promoted-items--double .view-content {
  display: grid;
  gap: 14px;
}
/* Small */
@media screen and (min-width: 30rem) {
  /* 480px */
  .view-promoted-items--double .view-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
.view-promoted-items--single .attachment-after,
.view-promoted-items--single .views-element-container,
.view-promoted-items--single .views-element-container,
.view-promoted-items--double,
.view-promoted-items--double .view-content,
.view-promoted-items--double .umami-card {
  block-size: 100%;
}
