/**
 * @file
 * Styles for cooking notes field.
 */

.field--name-field-cooking-notes {
  margin-top: 1.5rem;
  padding: 1.266rem;
  background-color: #f7f3ee;
}

@media screen and (min-width: 60rem) {
  .field--name-field-cooking-notes {
    padding: 2.369rem;
  }
}

.field--name-field-cooking-notes .field__label {
  margin: 0 0 1em 0;
  padding: 0 0 0.6em 0;
  border-bottom: 1px solid #d4c5b9;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.266rem;
  font-weight: 400;
  line-height: 1.2;
}

.field--name-field-cooking-notes .field__items {
  padding-left: 1.2em;
  list-style: disc;
}

.field--name-field-cooking-notes .field__item {
  display: list-item;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.field--name-field-cooking-notes .cooking-note-date {
  font-weight: 600;
}

.field--name-field-cooking-notes .cooking-note-text {
  /* inherits normal weight */
}
