/**
 * @file
 * Styles for recipe origin fields (country and region).
 */

.field--name-field-origin-country,
.field--name-field-origin-region {
  margin-bottom: 1.2em;
}

.field--name-field-origin-country.field--label-inline,
.field--name-field-origin-region.field--label-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.field--name-field-origin-country .field__label,
.field--name-field-origin-region .field__label {
  padding-right: 0.6rem;
  font-weight: 700;
}

.field--name-field-origin-country .field__item,
.field--name-field-origin-region .field__item {
  padding-right: 0.6rem;
}

.field--name-field-source {
  margin-top: 1.5em;
  margin-bottom: 1.2em;
}

.field--name-field-source.field--label-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.field--name-field-source .field__label {
  padding-right: 0.6rem;
  font-weight: 700;
}
